{% extends "template.html" %} {% block title %}choice{% endblock %}{% block content %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="lightBG">
    <div class="bg-zinc-800 h-screen border-l-2 border-r-2 border-slate-300 shadow-xl shadow-slate-100">
      <!-- 3 options grid -->
      <div class="grid grid-rows-1 grid-cols-3 gap-8 h-screen grid-parent"> 
      <!-- Digital Game (left most one) -->
        <div class="col-span-1 bg-orange-500 ml-8 choices">
        </div>
      <!-- Classic Game (Centered most one) -->
        <div class="col-span-1 bg-green-950	">
        </div> 
      <!-- Japanese Game (Right most one) -->
        <div class="col-span-1 bg-cyan-600 mr-8">
        </div>
      </div>
    </div>

</body>
{% endblock %}